@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0; padding: 0; border: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

.body-grid-wrapper {
  display: grid;
  grid-template-rows: 140px 47px 1fr;
  height: 100vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #FEFFFF;
  background-color: #3AAfA9;
}

.description-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  gap: 120px;
  background-color: #3AAfA9;
}

.description {
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  color: #17252a;
  font-weight: 900;
  font-size: 18px;
}

.part-one{
  justify-content: flex-end;
  margin: 0 0px 0 0;
}

.part-two{
  justify-content: flex-start;
  margin: 0 0 0 0px;
}

.part-three{
  color: #DEF2F1;
}

.main-body{
  display: grid;
  grid-template-rows: 60px 1fr;
  background-color: #f5ffff;
}

.main-functions{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #DEF2F1;
}

.new-book{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-functions{
  box-shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}

.button-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.stats-wrapper{
  display: flex;
  justify-content: space-evenly;
}

.stat{
  display: flex;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 19px;
  font-weight: 700;
}

.important-number{
  color: #F1360E;
  font-weight: 800;
}

.button-text{
  font-size: 14.5px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  margin: 1px;
}

/* Imported from getcsscan.com */
/* All credits go to respective owners, I DO NOT own this design */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: all .1s ease-in-out;
}

.button-34:active{
  transform: translateY(2px);
}

.book-display-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: repeat(auto-fill, 450px);
  justify-content: space-evenly;
  margin: 70px 70px 0 70px;
  gap: 60px;
}

.card{
  display: grid;
  position: relative;
  grid-template-rows: 40px 180px 150px 50px;
  border-radius: 14px;
  padding: 15px;
  width: 400px;
  background-color: #faffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.read{
  background: linear-gradient(45deg, #faffff 560px, rgb(47, 161, 47) 12px 100%)
}

.title{
  display: grid;
  color: #17252a;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  justify-content: center;
  margin: -4px 0 0 0;
}

.read-text{
  position: absolute;
  transform: rotate(45deg);
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 900;
  right: 0px;
  top: 12px;
}

.cover{
  width: 70%;
  height: auto;
  margin: 0 0 0 8px;
}

.book-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details-wrapper{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin: 0 0 0 -20px;
}

.detail{
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
}

.sub-heading{
  font-family: 'Nunito Sans', sans-serif;
  color: #17252a;
  font-weight: 700;
}

.heading{
  display: grid;
  color: #17252a;
  font-family: 'Nunito Sans', sans-serif;
  justify-content: center;
  align-items: end;
  margin: 0 15px 3px 0;
  font-weight: 700;
  font-size: 20px;
}

.abstract-wrapper{
  margin: 20px 0px 0px 7px;
}

.book-buttons{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.read-button-wrapper{
  display: flex;
  justify-content: flex-end;
}

.function-buttons{
  width: 40px;
  transition: all .1s ease-in-out;
}

.function-buttons:hover{
  transform: translateY(-3px);
}

.function-buttons:active{
  transition: all .01s linear;
  transform: translateY(.25px);
}

/* The following format the popup */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

ul {
  list-style: none;
  padding: 0 10px 10px 10px;
}

.add-book-popup-wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 12px;
  z-index: 10;
  background-color: #faffff;
  width: 550px;
  max-width: 60%;
}

/* Display popup */
.add-book-popup-wrapper.active{
  transform: translate(-50%, -50%) scale(1);
}

.popup-heading-wrapper{
  display: flex;
  justify-content: center;
  padding: 10px 10px 0 10px;
  position: relative;
}

.close-button{
  position: absolute;
  background: white;
  margin: 0 0 0 500px;
  font-size: 1.2rem;
  font-weight: bold;
}

form > ul > li {
  display: flex;
  margin: 10px 10px;
}

.popup-heading{
  font-size: 18px;
  font-weight: 900;
  font-family: 'Nunito Sans', sans-serif;
}

form > ul > li > label{
  width: 35%;
  align-self: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Nunito Sans', sans-serif;
}

#read-status-text{
  width: 30px;
  margin: 0 0 0 40px;
}

#abstract-heading{
  align-self: start;
}

#abstract-textarea{
  padding: 2px 0 0 3px;
  border: solid 1px black;
  border-radius: 3px;
}

/* Allow form inputs to take up remaining horizontal space */
form > ul > li > input{
  flex-grow: 1;
  padding: 5px 10px;
  border: solid 1px black;
  border-radius: 3px;
}

input[type="file"]{
  border: 0;
  padding: 3px 0;
}

label[for="image"]::after{
  content: '(To Be Supported)';
  display: block;
  font-size: 11px;
  font-weight: 900;
  color: grey;
}

/* Date input does not need flew-grow */
#date{
  flex-grow: 0;
}

p.submit{
  display: grid;
  justify-content: center;
  padding: 0 0 20px 0;
}

/* CSS */
.button-60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #383838;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 15px;
  height: 32px;
  width: 100px;
  justify-content: center;
  line-height: 1.5;
  padding: 5px 0 0 0;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25);
}

div.overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .25);
  z-index: 9;  /* The pop-up is of 10*/
  pointer-events: none;  /* This allows clicking when the overlay's inactive */
}

div.overlay.active{
  /* Prevent clicking and dim background when the overlay's active */
  pointer-events: all; /* Capture all events so you can't click through */
  opacity: 1;
}